.home {
    display: flex;
    height: 100vh;
}

.homebar {
    background-color: blue;
    width: 20vw;
    height: 100vh;
}

.homebox {
    background-color: red;
    width: 60vw;
    height: 100vh;
}

.widgets {
    background-color: green;
    width: 20vw;
    height: 100vh;
}