* {
    margin: 0;
    padding: 0;
}

.login {
    height: 100vh;
    display: flex;
    background-image: url('../../../media/back.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: white;
}

.loginform {
    backdrop-filter: blur(50px);
    height: 60vh;
    width: 30vw;

    form {
        display: flex;
        flex-direction: column;
        width: 60%;

        h3 {
            text-align: left;
            margin-bottom: 3rem;
        }

        input {
            margin-bottom: 3rem;
            border: none;
            border-bottom: 2px solid white;
            background: none;
            color: white;
            padding-bottom: 0.5rem;
            outline: none;

            &::placeholder {
                color: white;
                font-size: 100%;
            }
        }

        button {
            width: 100%;
            background-color: #A52A2A;
            color: white;
            border: none;
            padding: 0.5rem;
        }
    }
}



