* {
    margin: 0;
    padding: 0;
}

.login {
    height: 100vh;
    display: flex;
    background-image: url('../../../media/back.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: white;
}

.loginform {
    backdrop-filter: blur(50px);
    height: 60vh;
    width: 30vw;

    form {
        display: flex;
        flex-direction: column;
        width: 60%;

        input {
            margin-bottom: 1rem;
            border: none;
            border-bottom: 2px solid white;
            background: none;
            color: white;
        }
    }
}



